.back{
	width:100%;
	background:#1C1E1F;
	height: 39px;
}
.in_back{
	width:1200px;
	margin:0 auto;
}
.in_back p{
	color:#fff;
	line-height: 39px;
	float:left;
	font-size: 14px;
}
.in_back a{
	color:#fff;
	font-size: 14px;
}
.in_back span{
	float:right;
	color:#FF9F20;
	font-size: 14px;
	line-height: 39px;
	position:relative;
}
.in_back img{
	position:absolute;
	top:10px;
	left:-14px;
}
.header{
	width:1200px;
	height: 90px;
	margin:0 auto;
}
.header>a{
	float:left;
	margin-top: 20px;
}
.header_city{
	float:left;
	margin-top: 35px;
}
.header_city li,.header_tab li{
	float:left;
	margin-left: 30px;
	font-size: 18px;
	position:relative;
}
.header_tab{
	float:right;
}
.header_tab li{
	line-height: 90px;
}

.header_city li:nth-last-child(1) img{
	vertical-align: middle;
}
.header_city li:nth-last-child(1){
	cursor:pointer; 
}
.work_hot,.enroll_hot{
	position:absolute;
	left:60px;
	top:15px;
}
.header_tab>li:nth-child(2)>a,.header_tab>li:nth-child(5)>a{
	color:#E3001B;
}
.header_tab>li:nth-child(2)>a:hover{
	color:#E3001B;
}
.header_tab>li:nth-child(5)>a:hover{
	color:#E3001B;
}
.header_tab>li>a:hover{
	color:#27ADFF;
}
.header_city li:nth-child(2):hover .hide_city{
	display: block;
}
/*九宫格*/
.hide_city{
	width:480px;
	height: 300px;
	border:1px solid #ccc;
	position:absolute;
	top:22px;
	left:0;
	display: none;
	background: white;
	z-index: 1;
}
.hide_city li{
	width:100px;
	height: 90px;
	margin:5px 10px;
	text-align: center;
	line-height: 20px;
}
.hide_city span{
	width:100px;
	height: 50px;
	display: inline-block;
}
.hide_city p a{
	display: inline-block;
	width:100px;
	height: 19px;
	font-size: 16px;
	background-color:#ccc;
}
.header .hide_city li:hover p a{
	background-color: #27ADFF;
	color:#FFF;
}
.hide_city>li:nth-child(1) span{
	background: url("../img/city_bg.jpg") no-repeat -15px -5px;
}
.hide_city>li:nth-child(2) span{
	background: url("../img/city_bg.jpg") no-repeat -135px -5px;
}
.hide_city>li:nth-child(3) span{
	background: url("../img/city_bg.jpg") no-repeat -255px -5px;
}
.hide_city>li:nth-child(4) span{
	background: url("../img/city_bg.jpg") no-repeat -375px -5px;
}
.hide_city>li:nth-child(5) span{
	background: url("../img/city_bg.jpg") no-repeat -15px -90px;
}
.hide_city>li:nth-child(6) span{
	background: url("../img/city_bg.jpg") no-repeat -135px -90px;
}
.hide_city>li:nth-child(7) span{
	background: url("../img/city_bg.jpg") no-repeat -255px -90px;
}
.hide_city>li:nth-child(8) span{
	background: url("../img/city_bg.jpg") no-repeat -375px -90px;
}
.hide_city>li:nth-child(9) span{
	background: url("../img/city_bg.jpg") no-repeat -15px -170px;
}
.hide_city>li:nth-child(10) span{
	background: url("../img/city_bg.jpg") no-repeat -135px -170px;
}
.hide_city>li:nth-child(11) span{
	background: url("../img/city_bg.jpg") no-repeat -255px -170px;
}
.hide_city>li:nth-child(12) span{
	background: url("../img/city_bg.jpg") no-repeat -375px -170px;
}