#box{
	width: 100%;
	position: relative;
	/*left: 250px;*/
	left: 0px;
	transition: all 1s;
}
#top{
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	background: rgb(24,24,24);
	line-height: 60px;
	position: relative;
}
.li_1 a:hover{
	background: #ccc;
}
#left{
	width: 250px;
	height: 825px;
	background: rgb(48,48,48);
	position: absolute;
	left: -250px;
	top: 0px;
	z-index: 20;
	transition: all 1s;
}
#left a{
	display: inline-block;
	width: 190px;
	height: 20px;
	padding: 20px 10px;
	margin-left: 25px;
	color: rgb(129,129,129);
}
#left a:hover{
	color: white;
}
#left input{
	width: 180px;
	height: 30px;
	border: 1px solid;
	padding:  0 10px;
	margin: 60px 25px 20px;
	border-radius: 20px;
}
#left img{
	position: absolute;
	top: 67px;
	left: 200px;
}
#log{
	display: inline-block;
	width: 190px;
	height: 50px;
	padding: 5px 10px;
	vertical-align: middle;
}
#top ul{
	width: 50%;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
}
#top ul li{
	width: 20%;
	height: 60px;
	float: left;
	text-align: center;
}
#top ul li a{
	color: rgb(150,150,150);
	font-size: 14px;
}
#top ul li a:hover{
	color: white;
}
#seek{
	width: 256px;
	height: 60px;
	position: absolute;
	right: 30px;
	top: 0px;
	overflow: hidden;
}
#seek input{
	padding: 0px 12px;
	margin: 0px;
	border: 1px solid;
	width: 76px;
	height: 30px;
	border-radius: 20px;
}
#seek img{
	width: 16px;
	height: 16px;
	padding: 3px 6px;
	position: absolute;
	left: 72px;
	top: 22px;
	cursor: pointer;
}
#seek a{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: rgb(150,150,150);
}
#seek a:hover{
	color: white;
}
#right{
	width: 35px;
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 0px;
	border-left: 1px solid rgb(234,234,234);
	border-right: 1px solid rgb(234,234,234);
	background: white;
}
#right ul{
	width: 35px;
	height: 254px;
	margin-top: 120px;
}
#right ul li{
	width: 35px;
	padding: 10px 0px;
	margin: 10px 0px;
	text-align: center;
	cursor: pointer;
}
#right img{
	width: 16px;
	height: 16px;
}
#right #QQ{
	width: 25px;
}
#right ul li:nth-child(1){
	border-top: 1px solid rgb(234,234,234);
	border-bottom: 1px solid rgb(234,234,234);
}
#right ul li a{
	text-align: center;
	line-height: 20px;
	display: inline-block;
	height: 80px;
	color: rgb(78,78,78);
	font-size: 18px;
}
#right ol{
	width: 35px;
	height: 222px;
	position: absolute;
	bottom: 0px;
}
#right ol li{
	width: 35px;
	padding: 8px 0px;
	margin: 10px 0px;
	text-align: center;
	cursor: pointer;
}
#right li:hover{
	background: lightblue;
}
#carousel{
	width: 100%;
	position: relative;
	overflow: hidden;
}
#carousel ul{
	width: 400%;
	overflow: hidden;
	transition: 1s all;
}
#carousel li{
	width: 25%;
	float: left;
}
#carousel li img{
	width: 100%;
}
#carousel ol{
	width: 180px;
	height: 20px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	bottom: 30px;
}
#carousel ol li{
	width: 11px;
	height: 11px;
	border: 2px solid white;
	border-radius: 50%;
	margin: 0 10px;
}
#carousel ol li:nth-child(1){
	margin-left: 30px;
	background: #ccc;
}
#box_1{
	width: 100%;
	background: rgb(249,249,249);
}
.public{
	width: 1140px;
	height: 87px;
	padding: 50px 0px;
	margin: 0 auto;
	text-align: center;
	color: rgb(39,39,39);
}
.public p{
	margin-top: 30px;
	color: rgb(133,133,133);
}
.menu_1,.menu_11{
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
.menu_1s{
	width: 270px;
	padding: 0px 7.5px;
	float: left;
}
.clear{
	clear: both;
}
.menu_1ss{
	width: 270px;
	padding: 0px 7.5px;
	float: left;
	margin-bottom: 30px;
}
.menu_1sss{
	width: 270px;
	padding: 0px 7.5px;
	float: left;
	margin-bottom: 30px;
}
.menu_2s{
	width: 100%;
	border: 1px solid rgb(221,231,240);
	position: relative;
	overflow: hidden;
}
.menu_2sss{
	width: 100%;
	border: 1px solid rgb(221,231,240);
	position: relative;
}
.pic{
	width: 100%;
	padding: 10px;
	cursor: pointer;
	box-sizing: border-box;
}
.btns_1{
	width: 100%;
	height: 165px;
	position: absolute;
	margin: 10px;
	top: 0px;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	display: none;
}
.btns_2{
	width: 80px;
	height: 30px;
	margin: 0 auto;
	margin-top: 165px;
	background: orange;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	cursor: pointer;
}
.text{
	width: 100%;
	padding: 0px 10px;
	margin-top: 10px;
	text-align: center;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.menu_11{
	display: none;
}
.text a{
	font-size: 14px;
	color: rgb(118,118,118);
	display: inline-block;
	width: 85%;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.text a:hover{
	color: lightblue;
}
.text_b{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	margin-top: 10px;
}
.text_b span{
	font-size: 16px;
	color: rgb(186,186,186);
}
.text_b span:nth-child(3){
	position: absolute;
	right: 30px;
	color: lightgreen;
}
.text_b img{
	width: 16px;
	height: 17px;
}
.menu_3s{
	width: 270px;
	height: 80px;
	padding: 20px 0px;
	position: relative;
}
hr{
	margin-top: 20px;
	width: 285px;
	margin-left: -10px;
}
.menu_3s_1{
	width: 270px;
	height: 40px;
}
.menu_3s_1s img{
	width: 30px;
	margin-top: 5px;
	height: 30px;
}
.menu_3s_1s{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: red;
	position: absolute;
	top: 20px;
	left: 115px;
	text-align: center;
	line-height: 40px;
	background: rgb(218,218,218);
}
.menu_3s p{
	width: 270px;
	height: 20px;
	font-size: 14px;
	color: #919191;
	text-align: center;
}
.btn{
	width: 1140px;
	height: 60px;
	margin: 20px auto;
	text-align: center;
}
.btn a{
	display: inline-block;
	width: 72px;
	height: 18px;
	font-size: 14px;
	border-radius: 3px;
	color: rgb(92,92,92);
	padding: 10px 16px;
	background: rgb(242,242,242);
	border: 1px solid rgb(212,212,212);
}
.btn a:hover{
	background: rgb(218,218,218);
}
#box_2{
	width: 100%;
}
#ul{
	width: 990px;
	height: 50px;
	padding-right: 150px;
	margin: 0 auto;
	position: relative;
}
.li_1{
	height: 40px;
	float: left;
	line-height: 40px;
	margin-left: 20px;
}
.li_1 a{
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 5px;
}
.li_1:nth-child(1) a{
	background: lightblue;
	color: white;
}
#ul_l{
	width: 200px;
	position: absolute;
	right: 0px;
	top: 5px;
}
#ul_l a{
	display: inline-block;
	width: 28px;
	height: 20px;
	padding: 6px 12px;
	border: 1px solid rgb(212,212,212);
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: rgb(86,86,86);
	background: rgb(242,242,242);
}
#box_3{
	width: 100%;
}
.text_bb{
	width: 100%;
	margin: 15px 0px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: rgb(92,92,92);
}
#box_4{
	width: 100%;
}
.row{
	width: 1140px;
	margin: 0 auto;
}
.row_l{
	width: 270px;
	margin: 0px 5.5px;
	float: left;
	border: 1px solid #ccc;
	transition: all 0.5s;
	margin-bottom: 20px;
}
.row_l:hover{
	transform: translateY(-15px);
	box-shadow: 0px 10px 10px #ccc;
}
.con_c{
	width: 100%;
	box-sizing:border-box;
	padding: 20px 10px;
	background: rgb(242,246,249);
}
.pics{
	width: 112px;
	height: 112px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.pics img{
	width: 100%;
	height: 100%;
}
.con_c h3{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	color: rgb(37,37,37);
}
.con_c p{
	text-align: center;
	font-size: 16px;
	color: rgb(200,201,201);
}
.text_t{
	width: 100%;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
}
.text_e{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #ccc;
}
#box_5{
	width: 100%;
	background: rgb(249,249,249);
	border-bottom: 1px solid rgb(218,226,233);
}
.con_a{
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}
.con_a1{
	width: 528px;
	/*height: 295px;*/
	padding: 0 15px 15px 15px;
	margin-bottom: 20px;
	border: 1px solid rgb(221,231,240);
	background: white;
	float: left;
}
.con_a1:nth-child(2){
	margin-left: 20px;
}
.con_a1:nth-child(4){
	margin-left: 20px;
}
.con_a1 h3{
	height: 17px;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid rgb(242,242,242);
	font-size: 16px;
	position: relative;
	color: rgb(36,36,36);
}
.con_a1 h3 span{
	letter-spacing: -10px;
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: rgb(135,135,135);
}
.con_as{
	width: 240px;
	height: 60px;
	padding: 0px 10px;
	margin-top: 20px;
	float: left;
	overflow: hidden;
}
.con_as img{
	width: 60px;
	height: 60px;
	float: left;
	cursor: pointer;
}
.right_r{
	width: 164px;
	height: 60px;
	float: left;
	margin-left: 15px;
}
.right_r p{
	margin: 7px 0px;
}
.right_r p a{
	font-size: 14px;
	color: rgb(121,121,121);
}
.right_r p a:hover{
	color: lightgreen;
}
.right_r p img{
	width: 14px;
	height: 14px;
	padding-right: 5px;
}
.right_r p span{
	display: inline-block;
	width: 35px;
	height: 16px;
	font-size: 13px;
	color: rgb(180,180,180);
}
.pic_a{
	width: 184px;
	margin-top: 20px;
	position: relative;
	float: left;
}
.pic_a img{
	width: 100%;
}
.pic_a p{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.pic_a p a{
	font-size: 14px;
	color: white;
}
.ul_l{
	width: 323px;
	padding-left: 20px;
	font-size: 14px;
	margin-top: 20px;
	float: left;
}
.ul_l ul li{
	width: 100%;
	height: 20px;
	margin-bottom: 24px;
	line-height: 20px;
	position: relative;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.ul_l ul li a:hover{
	color: rgb(54,172,250)
}
.ul_l ul li span:nth-child(1){
	font-weight: bold;
	font-size: 20px;
	color: rgb(54,172,250);
}
.ul_l ul li span:nth-child(3){
	display: inline-block;
	position: absolute;
	right: 10px;
	color: rgb(187,187,187);
	vertical-align: bottom;
}
.chat{
	width: 100%;
	height: 231px;
	padding: 15px 0px;
}
.chat_1{
	width: 100%;
	height: 46px;
	margin-top: 15px;
	overflow: hidden;
}
.chat_1:nth-child(1){
	margin: 0px;
}
.qq_q{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.qq_q img{
	width: 100%;
	height: 100%;
	margin-top: 3px;
}
.qq_r{
	width: 473px;
	height: 38px;
	float: left;
	margin-left: 15px;
	margin-top: 3px;
	position: relative;
}
.qq_t{
	width: 393px;
	height: 18px;
	font-size: 14px;
	color: rgb(107,107,107);
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.qq_t a{
	color: rgb(107,107,107);
}
.qq_b a{
	color: rgb(107,107,107);
}
.qq_t img{
	width: 14px;
	height: 14px;
}
.qq_b{
	width: 393px;
	height: 20px;
	font-size: 14px;
	line-height: 14px;
	color: rgb(73,73,73);
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.qq_r span{
	position: absolute;
	right: 0px;
	font-size: 14px;
	top: 12px;
	color: rgb(196,196,196);
}
.qq_t a:hover{
	color: rgb(54,172,250);
}
.qq_b a:hover{
	color: rgb(54,172,250);
}
#box_6{
	width: 100%;
	background: rgb(249,249,249);
	padding: 20px 0px;
}
#box_6 p{
	width: 1140px;
	margin: 0 auto;
	font-size: 20px;
	color: #ccc;
	line-height: 20px;
}
#box_6 p a{
	font-size: 12px;
	margin-left: 30px;
	color: rgb(107,107,107);
}
#box_6 p a:hover{
	color: rgb(54,172,250);
}
#bottom{
	width: 100%;
	padding: 55px 0px;
	background: rgb(35,35,35);
	border-bottom: 1px solid rgb(14,14,14);
}
#box_7{
	width: 1140px;
	margin: 0 auto;
	height: 144px;
	overflow: hidden;
	position: relative;
}
#box_7 ul{
	width: 150px;
	padding: 0px 10px;
	float: left;
}
#box_7 ul li{
	font-size: 14px;
	margin-top: 20px;
}
#box_7 ul li:nth-child(1){
	color: white;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 30px;
}
#box_7 ul li a{
	color: rgb(143,143,143);
}
#box_7 ul li a:hover{
	color: white;
}
#b_b{
	width: 367px;
	height: 134px;
	position: absolute;
	right: 0px;
	text-align: center;
}
#b_bb{
	width: 100%;
	height: 40px;
	text-align: center;
	margin-top: 30px;
}
#b_bb a{
	margin: 0px 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#b_bb img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#bottoms{
	width: 100%;
	padding: 20px 0px;
	border-top: 1px solid rgb(52,52,52);
	background: rgb(25,25,25);
}
#bot{
	width: 1140px;
	margin: 0 auto;
}
#bot p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: 16px;
	text-align: center;
	color: rgb(131,131,131);
}
#bot p a{
	color: rgb(131,131,131);
	margin-left: 20px;
}
#bot p a:hover{
	color: white;
}
.menu_2s{
	transition: all 0.5s;
}
.menu_2s:hover{
	transform: translateY(-10px);
	box-shadow: 0px 10px 10px #ccc;
}
.btns div{
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 10px;
	border: 1px solid #ccc;
	color: rgb(131,131,131);
	cursor: pointer;
}
.btns div:nth-child(1){
	color: white;
	background: rgb(54,172,250);
}
.btns{
	width: 110px;
	margin: auto;
	height: 60px;
	margin-top: 30px;
	display: none;
}
.btns div:nth-child(2):hover{
	background: #ccc;
}
#ture{
	padding: 10px 10px;
	border: 1px solid;
	color: white;
	background: lightblue;
	border-radius: 5px;
	display: none;
}
#false{
	position: absolute;
	top: 10px;
	z-index: 50;
	background: white;
	display: none;
	left: 10px;
}
#false ul li{
	width: 160px;
	height: 20px;
	padding: 10px 20px;
}
#false ul li:nth-child(1){
	background: lightgreen;
}
#false ul li:nth-child(1) a{
	color: white;
}
#false ul li a{
	color: rgb(131,131,131);
}
#caidan,#caidan_r{
	width: 60px;
	height: 60px;
	position: absolute;
	display: none;
}
#caidan_r{
	right: 30px;
	top: 0px;
}
#caidan img{
	width: 30px;
	height: 30px;
	margin-top: 20px;
	cursor: pointer;
}
#caidan_r img{
	width: 30px;
	height: 30px;
	margin-top: 20px;
	cursor: pointer;
}
.menu_1{
	display: block;
}
@media screen and (max-width: 1200px){
	.menu_3s{
		display: none;
	}
	.menu_1,.menu_11{
		width: 950px;
	}
	.menu_1s{
		width: 300px;
		margin-bottom: 20px;
	}
	.menu_1ss{
		width: 300px;
	}
	.menu_1sss{
		width: 300px;
	}
	.public{
		width: 100%;
	}
	#ul{
		width: 950px;
		padding: 0px;
	}
	.row{
		width: 950px;
	}
	.row_l{
		width: 220px;
		height: 315px;
	}
	.text_e{
		margin: 10px 0px;
		/*overflow: hidden;*/
	}
	.btns{
		height: 40px;
		margin-top: 10px;
	}
	.con_a{
		width: 950px;
	}
	.con_a1{
		width: 460px;
		box-sizing:border-box;
	}
	.con_as{
		width: 204px;
		box-sizing:border-box;
	}
	.right_r{
		width: 109px;
		box-sizing:border-box;
	}
	.ul_l{
		width: 244px;
		box-sizing:border-box;
	}
	.ul_l ul li{
		width: 160px;
		padding-right: 80px;
	}
	.qq_r{
		width: 346px;
	}
	.qq_t,.qq_b{
		width: 100%;
		font-size: 12px;
	}
	.text a{
		font-size: 16px;
	}
	.btn{
		width: 950px;
	}
	#bot{
		width: 100%;
	}
	#box_6 p{
		width: 950px;
	}
	#box_7{
		width: 950px;
	}
}
@media screen and (max-width: 990px){
	#seek{
		width: 125px;
	}
	#seek input{
		display: none;
	}
	#seek img{
		display: none;
	}
	#top ul li{
		width: 15%;
	}
	.btn{
		width: 740px;
	}
	.menu_1,.menu_11{
		width: 740px;
	}
	.menu_1s{
		width: 350px;
	}
	.menu_1ss{
		width: 350px;
	}
	.menu_1sss{
		width: 350px;
	}
	.row{
		width: 740px;
	}
	.row_l{
		width: 355px;
		height: 324px;
		box-sizing: border-box;
	}
	.con_a{
		width: 740px;
	}
	.con_a1{
		width: 100%;
		height: 300px;
		margin-left: 0px;
	}
	.ul_l{
		width: 475px;
	}
	.ul_l ul li{
		width: 100%;
		padding-right: 60px;
	}
	.con_a1:nth-child(2){
		margin-left: 0px;
	}
	.con_a1:nth-child(4){
		margin-left: 0px;
	}
	.qq_r{
		width: 640px;
	}
	#ul_l{
		right: 20px;
	}
	.qq_t,.qq_b{
		width: 100%;
		font-size: 16px;
	}
	#box_6 p{
		width: 740px;
	}
	#box_7{
		width: 740px;
	}
	#b_b{
		display: none;
	}
}
@media screen and (max-width: 770px){
	.public{
		max-width: 730px;
	}
	#box_2 #ul{
		max-width: 730px;
	}
	.menu_1,.menu_11{
		max-width: 730px;
	}
	#top ul{
		display: none;
	}
	#carousel ol{
		display: none;
	}
	#seek{
		display: none;
	}
	#top{
		text-align: center;
	}
	.li_1{
		display: none;
	}
	#ul_l{
		right: 0px;
	}
	#ul_l a{
		padding: 3px 6px;
	}
	.qq_r{
		max-width: 620px;
	}
	.ul_l{
		max-width: 440px;
	}
	.con_a{
		width: 100%;
	}
	.con_a1 h3{
		max-width: 680px;
	}
	.ul_l{
		padding: 0px;
	}
	.con_a1{
		width: 100%;
	}
	.chat{
		width: 100%;
	}
	#ture{
		margin-left: 20px;
		display: block;
		cursor: pointer;
	}
	#box_7{
		width: 90%;

	}
	#box_7 ul{
		width: 20%;
	}
	.chat_1{
		width: 70%;
	}
	.qq_r{
		width: 70%;
	}
	.chat_1 .qq_t,.chat_1 .qq_b{
		width: 70%;
		margin:5px 0;
	}
	#caidan,#caidan_r{
		display: block;
	}
}
@media screen and (max-width: 650px){
	.con_a1{
		width: 100%;
		min-height: 520px;
	}
	.chat_1{
		width: 70%;
	}
	.qq_r{
		width: 70%;
	}
	.chat_1 .qq_t,.chat_1 .qq_b{
		width: 70%;
		margin:5px 0;
	}
	#ul{
		width: 100%;
	}
	.menu_1,.menu_11{
		width: 100%;
	}
	.menu_1s{
		width: 40%;
	}
	.menu_1ss{
		width: 40%;
	}
	.menu_1sss{
		width: 40%;
	}
	.btn{
		width: 100%;
	}
	.row{
		width: 100%;
	}
	.row_l{
		width: 40%;
	}
	#box_7{
		width: 100%;
	}
	#box_6 p{
		width: 100%;
	}
	.chat_1 .qq_r .qq_b span{
		display: none;
	}
}