body{
	width:100%;
	background: url(../img/bg_ad.jpg) no-repeat;
	background-size:100% 500px;
	
}
/*头部广告*/
#top_ad img{
	width: 100%;
	height: 60px;
	opacity: 0;
}
.center{
	width: 100%;
	position: relative;
	transition: all 3s;
	animation: center 3s forwards;
}
@keyframes center{
	0%{
		top:0px;
	}
	50%{
		top: 440px;
	}
	100%{
		top:0px;
	}
}
/*头部导航*/
.head{
	width: 100%;
	height: 400px;
	position: absolute;
}
.back{
	width:100%;
	background:#1C1E1F;
	height: 39px;
}
.in_back{
	width:1200px;
	margin:0 auto;
}
.in_back p{
	color:#fff;
	line-height: 39px;
	float:left;
	font-size: 14px;
}
.in_back a{
	color:#fff;
	font-size: 14px;
}
.in_back span{
	float:right;
	color:#FF9F20;
	font-size: 14px;
	line-height: 39px;
	position:relative;
}
.in_back img{
	position:absolute;
	top:10px;
	left:-14px;
}
header{
	width: 100%;
	background: #fff;
}
.header{
	width:1200px;
	height: 90px;
	margin:0 auto;

}
.header>a{
	float:left;
	margin-top: 20px;
}
.header_city{
	float:left;
	margin-top: 35px;
}
.header_city li,.header_tab li{
	float:left;
	margin-left: 30px;
	font-size: 18px;
	position:relative;
}
.header_tab{
	float:right;
}
.header_tab li{
	line-height: 90px;
}

.header_city li:nth-last-child(1) img{
	vertical-align: middle;
}
.header_city li:nth-last-child(1){
	cursor:pointer; 
}
.work_hot,.enroll_hot{
	position:absolute;
	left:60px;
	top:15px;
}
.header_tab>li:nth-child(2)>a,.header_tab>li:nth-child(5)>a{
	color:#E3001B;
}
.header_tab>li:nth-child(2)>a:hover{
	color:#E3001B;
}
.header_tab>li:nth-child(5)>a:hover{
	color:#E3001B;
}
.header_tab>li>a:hover{
	color:#27ADFF;
}
.header_city li:nth-child(2):hover .hide_city{
	display: block;
}
/*九宫格*/
.hide_city{
	width:480px;
	height: 300px;
	border:1px solid #ccc;
	position:absolute;
	top:18px;
	left:0;
	display: none;
	z-index: 1;
	background: #FFFFFF;
}
.hide_city li{
	width:100px;
	height: 90px;
	margin:5px 10px;
	text-align: center;
	line-height: 20px;
}
.hide_city span{
	width:100px;
	height: 50px;
	display: inline-block;
}
.hide_city p a{
	display: inline-block;
	width:100px;
	height: 19px;
	font-size: 16px;
	background-color:#ccc;
}
.header .hide_city li:hover p a{
	background-color: #27ADFF;
	color:#FFF;
}
.hide_city>li:nth-child(1) span{
	background: url("../img/city_bg.jpg") no-repeat -15px -5px;
}
.hide_city>li:nth-child(2) span{
	background: url("../img/city_bg.jpg") no-repeat -135px -5px;
}
.hide_city>li:nth-child(3) span{
	background: url("../img/city_bg.jpg") no-repeat -255px -5px;
}
.hide_city>li:nth-child(4) span{
	background: url("../img/city_bg.jpg") no-repeat -375px -5px;
}
.hide_city>li:nth-child(5) span{
	background: url("../img/city_bg.jpg") no-repeat -15px -90px;
}
.hide_city>li:nth-child(6) span{
	background: url("../img/city_bg.jpg") no-repeat -135px -90px;
}
.hide_city>li:nth-child(7) span{
	background: url("../img/city_bg.jpg") no-repeat -255px -90px;
}
.hide_city>li:nth-child(8) span{
	background: url("../img/city_bg.jpg") no-repeat -375px -90px;
}
.hide_city>li:nth-child(9) span{
	background: url("../img/city_bg.jpg") no-repeat -15px -170px;
}
.hide_city>li:nth-child(10) span{
	background: url("../img/city_bg.jpg") no-repeat -135px -170px;
}
.hide_city>li:nth-child(11) span{
	background: url("../img/city_bg.jpg") no-repeat -255px -170px;
}
.hide_city>li:nth-child(12) span{
	background: url("../img/city_bg.jpg") no-repeat -375px -170px;
}
.head{
	overflow: hidden;
}
/*轮播图*/
.home_ad{
	width:500%;
	height: 400px;
	transition:all 0.8s;
}
.home_ad img{
	width:20%;
	height: 400px;
	float:left;
}
#pot .on{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid #ccc;
	float: left;
	margin:40px 0px 0px 8px;
}
#pot .on:nth-child(1){
	background: #ccc;
}
#pot{
	position: absolute;
	bottom:30px ;
	margin-left:47%;
	z-index: 5;
}
@media screen and (max-width: 1200px){
	body{
		width: 1200px;
	}
	.right_nav{
		right: 0;
	}
	.left_nav{
		left: 0;
	}
}

/*内容*/
.content{
	width: 1200px;
	min-height: 500px;
	position: absolute;
	top:129px;
	left:50%;
	margin-left: -600px;
}
/*轮播图上左边导航*/
.left_nav{
	width: 240px;
	height: 360px;
	padding:20px 0px;
	background-color:rgba(0,0,0,0.8);
	float: left;
	color: #fff;
}
.left_nav_name{
	height: 40px;
	cursor: pointer;
	padding:0px 0 0 40px;
	line-height: 40px;
}
.por_name{
	width: 146px;
	display: inline-block;
}
.left_see{
	width:110px;
	height: 370px;
	background: #FFF;
	position: absolute;
	left:240px;
	top: 0;
	color: #000000;
	text-align: center;
	padding: 30px 0px 0px 0px ;
	display: none;
	
}
.left_see li{
	height:90px;
}
.left_see li div{
	width: 52px;
	height: 43px;
	margin: 0 auto;
}
.left_see li:nth-child(1) div{
	background: url(../img/left_see.png) no-repeat;
}
.left_see li:nth-child(2) div{
	background: url(../img/left_see.png) no-repeat -47px 0px;
}
.left_see li:nth-child(3) div{
	background: url(../img/left_see.png) no-repeat -92px 0px;
}
.left_see li:nth-child(4) div{
	background: url(../img/left_see.png) no-repeat -142px 0px;
}
.left_see li p{
	margin-top: 10px;
}
.left_see p:hover{
	color:#27ADFF ;
}
/*轮播图右边导航*/
.right_nav{
	width:230px;
	height: 340px;
	padding:30px 18px;
	background-color:rgba(255,255,255,0.8);
	float: right;
	color: #000;
	font-size: 14px;
	color:#666;
}
.right_nav li{
	height: 40px;
}
.right_nav li:nth-child(1){
	background:url(../img/new.png) no-repeat ;
	width:230px;
	height: 35px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-top: 5px;
}
.right_nav li:nth-child(2) a{
	color:#ca0000;
}
.right_nav li:nth-child(3) a{
	color:#ca0000;
}
.right_nav h3{
	height: 35px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	margin-left: 50px;
}
.right_nav span{
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	line-height:20px;
	width:90px;
	text-align: right;
	cursor: pointer;
}
.right_nav a:hover{
	color:#36a8ff;
}
/**/
.details{
	width: 1200px;
	overflow: hidden;
}
.det_box{
	width: 180px;
	height: 142px;
	text-align: center;
	color: #fff;
	background: pink;
	margin-top: 20px;
	padding-top:40px;
	line-height: 30px;
	float:left;
	margin-left: 12px;
}
.det_box:nth-child(1){
	width:240px;
	margin-left: 0px;
}
.det_box:nth-child(2){
	background: #6ccdc6;
}
.det_box:nth-child(3){
	background: #ec9b5a;
}
.det_box:nth-child(4){
	background:#83c973 ;
}
.det_box:nth-child(5){
	background:midnightblue;
}
.det_box:nth-child(6){
	background:#649eee ;
}
.det_img{
	text-align: center;
	width:78px;
	height: 67px;
	background: lightblue;
	display: inline-block;
	margin: 0px 30px 0px 30px ;
}
.det_img:hover{
	transition: all 1s; 
	transform: rotateY(360deg);
}
.det_img1{
	background: url(../img/name.png) no-repeat 5px 0px;
}
.det_img2{
	background: url(../img/name.png) no-repeat -76px 0px;
}
.det_img3{
	background:  url(../img/name.png) no-repeat -164px 0px;
}
.det_img4{
	background: url(../img/name.png) no-repeat -398px 0px;
}
.det_img5{
	background: url(../img/name.png) no-repeat -250px 0px;
}
.det_img6{
	background:url(../img/name.png) no-repeat -324px 0px;
}
.text{
	display: inline-block;
}
/*就业喜报*/
#job {
	width: 1200px;
	height: 520px;
	margin-top:20px;
}
.job_up{
	width: 1200px;
	height: 430px;
	position: absolute;
	overflow: hidden;
	color: #666;
}
#job span{
	font-size: 20px;
	line-height: 36px;
	vertical-align:top;
}
#job li{
	width: 1200px;
	height: 48px;
	overflow: hidden;
}
#job ul li:nth-child(1){
	color: #fff;
	background: #36a8ff;
}
#job ol{
	height: 430px;
	overflow: hidden
}
#job ol li{
	width: 1200px;
	height: 46px;
	overflow: hidden;
	border-bottom:1px #CCCCCC solid ;
}
#job p{
	float: left;
	text-align: center;
	line-height: 46px;
}
.name{
	width: 155px;
}
.academic_a{
	width: 111px;
}
.professional{
	width: 226px;
}
.company{
	width: 317px;
}
.salary{
	width: 161px;
}
.post{
	width: 230px;
}
#ol_o{
	position: absolute;
	top:0px;
}
#ol_l{
	position: absolute;
	top:430px;
}
.content .img{
	margin-top: 30px;
}
/*课程详情*/
.content2{
	width: 100%;
	background: #eee;
	min-height: 500px;
	position: absolute;
	top: 1430px;
}
/*java EE*/
.course{
	width: 1200px;
	margin:40px auto;
	min-height:350px;
}
/*课程*/
.course div{
	width: 230px;
	height: 349px;
	float: left;
	margin-left: 10px;
}
.course a{
	width: 230px;
	height: 349px;
	display: inline-block;
	background: #fff;
}
.course span{
	display: inline-block;
}
.course .java{
	width: 240px;
	margin: 0;
	background: url("../img/m_java1.png") #d2e8fd no-repeat -10px -30px;
}
.star_left{
	width: 130px;
	height: 130px;
	background: url(../img/star.png) no-repeat;
}
.course .min_box{
	width: 140px;
	height: 170px;
	background: #fff;
	padding:0px 45px;
}
.min_box span{
	width: 140px;
	text-align: center;
	margin-top: 15px;
}
.min_box span:nth-child(1){
	width: 140px;
	height: 86px;
}
.computer{
	background: url("../img/course1.png") no-repeat 10px 0px;
}
.video{
	background: url("../img/course1.png") no-repeat -284px 0px;
}

.last_item a:hover{
	background: 
}
.last_item div{
	height: 50px;
}
.teacher{
	background:#fff url("../img/m_person1.png") no-repeat 0px -20px;
}
.course .star_left{
	margin:90px 0px 0px 0px;
	width:130px;
	height: 130px;
	float: left;
	background: url("../img/star.png") no-repeat -20px;
	transition:all 0.5s;
}
.course .star_right{
	margin:70px 0px 0px 0px;
	width:100px;
	height: 130px;
	float: left;
	background: url("../img/star.png") no-repeat -120px 0px;
	transition:all 0.5s;
}
.course .star_left1{
	margin:0px;
	width:130px;
	height: 130px;
	float: left;
	background: url("../img/star2.png") no-repeat -28px -40px;
	transition:all 0.5s;
}
.course .star_right1{
	margin:0px;
	width:110px;
	height:130px;
	float: left;
	background: url("../img/star2.png") no-repeat -250px -74px;
	transition:all 0.5s;
}
.teacher span{
	width: 230px;
	text-align: center;
	margin-top:90px;
}
.money{
	background: url("../img/course1.png") no-repeat -134px 0px;
}
.learn{
	background: url("../img/course1.png") no-repeat -440px 0px;
}
.course .time{
	height: 60px;
	background: #51a3f3;
	color: #FFFFFF;
	text-align: center;
	line-height: 60px;
	margin: 0;
	font-size: 22px;
}
.last_item{
	background: #FFFFFF;
	font-size: 14px;
}
.last_item .time_pic{
	width: 71px;
	height: 53px;
	background: url("../img/time.png") no-repeat;
	margin:-18px 0px 0px 144px;
}
.last_item ul{
	margin-top: 100px;
}
.last_item li{
	height:38px;
	line-height:38px;
	border-bottom: 1px solid #ccc;
	-bottom: 1px solid #ccc;
}
.last_item li div{
	width: 115px;
	height:38px;
}
.last_item li span{
	height:38px;
	line-height:38px;
	vertical-align: top;
}
.hot{
	width:30px;
	height:38px;
	background:url("../img/hot.png") no-repeat -15px -5px;
}
.course .last_item a{
	display: inline-block;
	width: 109px;
	height: 27px;
	border-radius: 15px;
	color:#51a3f3;
	border:1px solid #51a3f3;
	text-align: center;
	line-height: 27px;
	margin:10px  62px;
}
/*大数据*/
.course .data{
	width: 240px;
	margin: 0;
	background: url("../img/m_cloud.png") #d9dfff no-repeat -10px -30px;
}
.course_data .computer{
	background: url("../img/course2.png") no-repeat 10px 0px;
}
.course_data .video{
	background: url("../img/course2.png") no-repeat -284px 0px;
}
.course_data .teacher{
	background:#fff url("../img/m_person2.png") no-repeat 0px -20px;
}
.course_data .money{
	background: url("../img/course2.png") no-repeat -134px 0px;
}
.course_data .learn{
	background: url("../img/course2.png") no-repeat -440px 0px;
}
.last_item1 .time{
	background: #5b74f0;
}
.last_item1 .time_pic{
	background: url("../img/time.png") no-repeat -85px 0px;
}
.course_data .last_item1 a{
	color:#5b74f0;
	border:1px solid #5b74f0;
}
/*html5*/
.course .html5{
	width: 240px;
	margin: 0;
	background: url("../img/m_h5.png") #fcdccc no-repeat -10px -30px;
}
.course_html .computer{
	background: url("../img/course5.png") no-repeat 10px 0px;
}
.course_html .video{
	background: url("../img/course5.png") no-repeat -284px 0px;
}
.course_html .teacher{
	background:#fff url("../img/m_person3.png") no-repeat 0px -20px;
}
.course_html .money{
	background: url("../img/course5.png") no-repeat -134px 0px;
}
.course_html .learn{
	background: url("../img/course5.png") no-repeat -440px 0px;
}
.last_item2 .time{
	background:#EC7134;
}
.last_item2 .time_pic{
	background: url("../img/time.png") no-repeat -170px 0px;
}
.course_html .last_item2 a{
	color:#ec7134;
	border:1px solid #ec7134;
}
/*vr*/
.course .vr{
	width: 240px;
	margin: 0;
	background: url("../img/m_vr.png") #aceedd no-repeat -10px -30px;
}
.course_vr .computer{
	background: url("../img/course3.png") no-repeat 10px 0px;
}
.course_vr  .video{
	background: url("../img/course3.png") no-repeat -284px 0px;
}
.course_vr  .teacher{
	background:#fff url("../img/m_person4.png") no-repeat 0px -20px;
}
.course_vr  .money{
	background: url("../img/course3.png") no-repeat -134px 0px;
}
.course_vr  .learn{
	background: url("../img/course3.png") no-repeat -440px 0px;
}
.last_item3 .time{
	background:#30c8a2;
}
.last_item3 .time_pic{
	background: url("../img/time.png") no-repeat -260px 0px;
}
.course_vr  .last_item3 a{
	color:#30c8a2;
	border:1px solid #30c8a2;
}
/*php*/
.course .php{
	width: 240px;
	margin: 0;
	background: url("../img/m_php.png") #8ba2e4 no-repeat -10px -30px;
}
.course_php .computer{
	background: url("../img/course6.png") no-repeat 10px 0px;
}
.course_php  .video{
	background: url("../img/course6.png") no-repeat -284px 0px;
}
.course_php  .teacher{
	background:#fff url("../img/m_person5.png") no-repeat 0px -20px;
}
.course_php  .money{
	background: url("../img/course6.png") no-repeat -134px 0px;
}
.course_php  .learn{
	background: url("../img/course6.png") no-repeat -440px 0px;
}
.last_item4 .time{
	background:#8ba2e4;
}
.last_item4 .time_pic{
	background: url("../img/time.png") no-repeat -350px 0px;
}
.course_php  .last_item4 a{
	color:#8ba2e4;
	border:1px solid #8ba2e4;
}
/*web*/
.course .web{
	width: 240px;
	margin: 0;
	background: url("../img/web.png") #fbd9ad no-repeat -10px -30px;
}
.course_web .computer{
	background: url("../img/course4.png") no-repeat 10px 0px;
}
.course_web  .video{
	background: url("../img/course4.png") no-repeat -284px 0px;
}
.course_web  .teacher{
	background:#fff url("../img/m_person6.png") no-repeat 0px -20px;
}
.course_web  .money{
	background: url("../img/course4.png") no-repeat -134px 0px;
}
.course_web  .learn{
	background: url("../img/course4.png") no-repeat -440px 0px;
}
.last_item5 .time{
	background:#ffa800;
}
.last_item5 .time_pic{
	background: url("../img/time.png") no-repeat -430px 0px;
}
.course_web  .last_item5 a{
	color:#ffa800;
	border:1px solid #ffa800;
}
/*android*/
.course .android{
	width: 240px;
	margin: 0;
	background: url("../img/and.png") #b7e356 no-repeat 0px 0px;
}
.course_android .computer{
	background: url("../img/course7.png") no-repeat 10px 0px;
}
.course_android  .video{
	background: url("../img/course7.png") no-repeat -284px 0px;
}
.course_android  .teacher{
	background:#fff url("../img/m_person7.png") no-repeat 0px -20px;
}
.course_android  .money{
	background: url("../img/course7.png") no-repeat -134px 0px;
}
.course_android  .learn{
	background: url("../img/course7.png") no-repeat -440px 0px;
}
.last_item6 .time{
	background:#b7e356;
}
.last_item6 .time_pic{
	background: url("../img/time.png") no-repeat -520px 0px;
}
.course_android  .last_item6 a{
	color:#b7e356;
	border:1px solid #b7e356;
}
.course .clear{
	width: 0;
	height: 0;
	clear: both;
}
/*我在蓝鸥*/
.content3{
	width:1200px ;
	min-height: 233px;
	margin: 0 auto;
	margin-top: 4080px;
	overflow: hidden;
}
.con3_title{
	height: 72px;
}
.con3_title div{
	width: 30px;
	height: 72px;
	display: inline-block;
	background: url("../img/title_pic.png") no-repeat 0px 22px;
}
.con3_title span{
	height: 72px;
	display: inline-block;
	vertical-align: top;
	line-height: 72px;
	text-align: center;
	font-size: 24px;
}
.con3_title .lb_left{
	float: right;
	border: 1px solid #666;
	width: 38px;
	height: 23px;
	line-height: 22px;
	margin-top:20px;
	color:#999;
	cursor:pointer;
}
#con3_title_left{
	color:#666;
}
.con3_pic{
	width: 2400px;
	height: 233px;
	transition:all 0.8s;
}
.content3 ul{
	width: 1200px;
	height:233px ;
	float: left;
}
.content3 li{
	width: 232px;
	height:233px;
	float: left;
	margin-left: 10px;
	font-size: 14px;
	text-align: center;
}
.content3 ul li:nth-child(1){
	margin-left: 0px;
}
.content3 img{
	width: 230px;
	height: 192px;
}
.content3 ul span{
	display: inline-block;
	background: #eee;
	width: 230px;
	height:39px;
	line-height: 39px;
	margin-top: -2px;
}
/*技术交流群*/
.tech{
	width: 1200px;
	min-height: 194px;
	margin:  0 auto;
}
.tech_title div{
	width:40px;
	background: url("../img/tech.png") no-repeat 0px 18px;
}
.tech ul{
	height: 112px;
	border-top: 1px solid #ccc;
	padding-top: 6px;
}
.tech li{
	width: 392px;
	height: 38px;
	margin-left: 10px;
	float: left;
	font-size: 14px;
}
.tech li img{
	margin-top: 5px;
	vertical-align: bottom;
}
.tech .nomargin{
	margin-left: 0;
}
.tech li span{
	display: inline-block;
	width: 130px;
	height: 38px;
	line-height: 38px;
	vertical-align: top;
	font-weight: bolder;
}
.tech a{
	width: 100px;
	display: inline-block;
}
/*校园环境*/
.school{
	width: 1200px;
	min-height: 300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.school_title div{
	background: url("../img/title_pic.png") no-repeat -70px 20px;
}
.school_nav{
	height: 35px;
	width: 1200px;
}
.school_nav a{
	width: 118px;
	height: 35px;
	display:block;
	text-align: center;
	line-height: 35px;
	border: 1px solid #4cc2ff;
	float: left;
	border-left: none;
	color:#343434;
}
.school_nav a:nth-child(1){
	border-left: 1px solid #4cc2ff;
	background: #4CC2FF;
	color: #FFFFFF;
}
.school ul{
	margin-top: 10px;
	width:1510px;
	height: 203px;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
}
.school li{
	width:293px;
	height: 203px;
	float: left;
	margin-left:9px;
}
.school .nomargin{
	margin-left:0px;
}

.school img{
	width:287px;
	height: 203px;
}
.school .bj{
	display: block;
}
/*友情链接*/
.link{
	width: 1200px;
	min-height:150px;
	margin: 0 auto;
}
.link_title div{
	background: url("../img/title_pic.png") no-repeat -100px 20px;
}
.link a{
	display: inline-block;
	padding-right:25px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
.link a:hover{
	color:#37B5FF;
}
.poisition_left{
	position: fixed;
	left: 0;
	top:100px;
	background: #fff;
	width:65px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.left_box{
	height:45px;
	padding: 18px 0px 10px 0px;
}
.left_box:nth-child(1){
	background:#00abf7 ;
	color: #fff;
}
.left_box:nth-child(1) .iconfont{
	color: #fff;
}
.left_bg:hover{
	background: #00ABF7;
	color: #fff;
	cursor:pointer;
}
.left_bg:hover .iconfont{
	color:#fff;
}
/*底部*/
#bottom{
	width: 100%;
	height: 306px;
	background: rgb(28,30,31);
	padding-top: 36px;
}
#con{
	width: 1200px;
	height: 198px;
	border-bottom: 2px solid rgb(54,56,57);
	margin: 0 auto;
}
#con p{
	color: white;
}
#con li{
	color: rgb(112,120,121);
}
#con li a{
	color: rgb(112,120,121);
}
#con div{
	float: left;
}
#about{
	width: 158px;
	height: 160px;
	padding-left: 42px;
}
#bottom ul{
	height: 124px;
	margin-top: 10px;
	border-right: 1px solid rgb(54,56,57);
	overflow: hidden;
}
#about li{
	width: 157px;
	height: 31px;
	line-height: 31px;
}
#campus{
	width: 318px;
	height: 160px;
	padding-left: 90px;
}
#campus li{
	width: 80px;
	height: 31px;
	line-height: 31px;
	float: left;
	margin-right: 25px;
}
#resources{
	width: 158px;
	height: 160px;
	padding-left: 88px;
}
#resources li{
	width: 157px;
	height: 31px;
	line-height: 31px;
}
#trends{
	width: 208px;
	height: 160px;
	padding-left:100px; 
}
#trends ul{
	border-right: 0px;
}
#trends li{
	float: left;
}
#trends li:nth-child(2){
	margin-left: 10px;
}
#trends li p{
	margin-top: 10px;
	font-size: 14px;
	width: 91px;
	text-align: center;
	color: rgb(112,120,121);
}
#about ul li a:hover{
	color: rgb(16,106,169);
}
#campus ul li a:hover{
	color: rgb(16,106,169);
}
#resources ul li a:hover{
	color: rgb(16,106,169);
}
#footer{
	width: 1200px;
	height: 19px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	color: rgb(129,128,129)
}
#footer a{
	color: rgb(129,128,129)
}
/*icon*/
@font-face {
  font-family: 'iconfont'; 
  src: url('https://at.alicdn.com/t/font_2s8my1rvukye3ik9.eot');
  src: url('https://at.alicdn.com/t/font_2s8my1rvukye3ik9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2s8my1rvukye3ik9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2s8my1rvukye3ik9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2s8my1rvukye3ik9.svg#iconfont') format('svg');
}
.iconfont{
  	font-family:"iconfont" !important;
  	font-style:normal;
  	font-size: 24px;
  	color:#009AF7;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
}
/*百度信誉*/
.boxB{
	overflow: hidden;
	width:100%;	
	height: 70px;
	position:absolute;
	top:0;
	left:0;
}
#baidu{
	width: 100%;
	height: 70px;
	position:absolute;
	background: rgba(68, 95, 176,0.9);
	top: 0;
	left: 0;
	color: #FFFFFF;
}
.baidu_box{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	position: relative;
	background: rgb(68, 95, 176);
}
.baidu_box ul{
	width: 940px;
	height: 39px;
	margin: 0 auto;
	padding: 15px 0px 0px 16px;
}
.baidu_box li{
	float: left;
	height:39px ;
	padding: 0px 10px;
}
.baidu_box p{
	font-size: 13px;
}
.baidu_box .li{
	border-right: 1px solid #ccc;
}
.baidu_box  input{
	height: 28px;
	width: 164px;
	font-size: 14px;
	color: #666;
}
#back{
	width:200px;
	height: 39px;
	line-height: 39px;
	text-align: right;
	font-size: 14px;
	cursor: pointer;
	position:absolute;
	right:50px;
}
#baidu_img{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}







